body {
    font-family: sans-serif;
    color: #444;
    background-image: url('background_2.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
header {
    background-color: #0b112b;
    color: #fff; 
    text-align: center; 
    padding: 0 0; 

}

.logo {
    display: inline-block; 
    overflow: hidden;
}

.logo img {
    width: 300px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.graph {
    position: fixed; 
    top: 200px; 
    right: 100px; 
}

.graph img {
    width: 400px; 
    height: auto; 
}


.dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.container {
    text-align: center;
    position: fixed; 
    top: 300px; 
    left: 450px; 
}

.left-btn {
    display: block;
    width: 150px;
    height: 40px;
    margin-top: 10px; 
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.left-btn:hover {
    background-color: #45a049;
}

.chat-container {
    width: 300px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px; 
  }
  .chat {
    padding: 20px;
    overflow-y: auto;
    height: 525px;
    scrollbar-width: thin;
  }
  .message {
    margin-bottom: 10px;
  }
  .message .sender {
    font-weight: bold;
  }
  .message .text {
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .input {
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .input input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  .input button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    outline: none;
  }
  .input button:hover {
    background-color: #0056b3;
  }

  input[type=range][orient=vertical] {
    appearance: slider-vertical;
    width: 8px;
    height: 400px;
    padding: 0 5px;
}