body {
    font-family: sans-serif;
    color: #444;
    background-image: url('background_2.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
header {
    background-color: #0b112b;
    color: #fff; 
    text-align: center; 
    padding: 0 0; 

}

.logo {
    display: inline-block; 
    overflow: hidden;
}

.logo img {
    width: 300px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.grid {
    display: grid;
    width: 100%;
    height: 400px;
    grid-template-columns: repeat(10, 1fr); /* Adjust the number of columns */
    grid-template-rows: repeat(10, 1fr); /* Adjust the number of rows */
    border: 1px solid #ccc;
  }
  .dot {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
  }